* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

body {
  background-color: #191765;
  color: white;
  padding: 1.3rem 1.3rem 0 1.3rem;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1rem;
}

.nav {
  height: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  position: relative;
}

.nav__logo {
  width: 5rem;
  top: 1rem;
  left: 0.5rem;
  color: white;
  text-decoration: none;
  height: 1rem;
  transition: all 1000ms ease-in;
  transform: rotate(360deg);
  background-color: transparent;
}

.nav__humbugger__icon {
  width: 33.33px;
  top: 14.58px;
  left: 0.5rem;
  color: white;
}

.developer::before {
  content: '';
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  right: 0;
  top: 0;
  background: #edecff;
  filter: blur(50px);
  background-image: url(./images/header@2x.png);
}

.about::before {
  content: '';
  position: absolute;
  width: 68px;
  height: 68px;
  right: 0;
  top: 400px;
  background: #edecff;
  filter: blur(30px);
  background-image: url(./images/header@2x.png);
}

.developer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
  color: white;
}

.developer__info {
  text-align: center;
}

.developer__info--name {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #7d73fc;
  margin: 2rem 0 0 0;
  margin: 0 auto;
}

.developer__info--title {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #edecff;
}

.description__text {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}

.description__text:hover {
  transform: translate(50px, 0);
}

.about {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: white;
  width: 100%;
  background-color: transparent;
}

.about-container {
  width: 50%;
  position: relative;
}

.about-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.about-header {
  color: #9490ff;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.about-list-item {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
}

.contact__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__link--social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.fa {
  font-style: normal;
  color: white;
  margin: 0 1rem;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 500ms ease-in;
}

.contact__link--text {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
  margin-top: 2rem;
}

.fa:hover {
  transform: scale(2);
}

.work {
  margin: 5.5rem 0 0;
  color: white;
  position: relative;
}

.work__header {
  grid-area: work__header;
}

.first__card {
  grid-area: first__card;
}

.second__card {
  grid-area: second__card;
}

.third__card {
  grid-area: third__card;
}

.fourth__card {
  grid-area: fourth__card;
}

.work__main-header {
  color: #9490ff;
  font-weight: 500;
}

.horizontal__line {
  width: 100%;
  margin: 1.5rem 0;
  border-bottom: 1px solid #646369;
}

.horizontal__line--footer {
  width: 100%;
  border-bottom: 2px solid #3a3837;
  margin: 1rem;
}

.btn {
  background-color: #10f;
  margin: 1.5rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 0.8rem;
  transition: all 500ms ease-in;
  cursor: pointer;
}

label {
  display: none;
}

.btn:hover,
.btn:active {
  box-shadow: 0 8px 1rem rgba(125, 115, 252, 0.48);
  color: #7d73fc;
  background-color: #fff;
}

.btn:disabled {
  background: #2a2b33;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project_container {
  display: flex;
  flex-direction: column;
}

.second__card,
.fourth__card {
  display: flex;
  flex-direction: column-reverse;
}

.card__image {
  display: flex;
  grid-area: card__image;
  width: 100%;
  height: min(10rem);
  background: #edecff;
  margin: 0 auto;
  padding: 1.3rem;
  background-image: url(./images/image_placeholder.png);
}

.first__project::before {
  content: '';
  position: absolute;
  width: 39.61px;
  height: 582.57px;
  left: -112.04px;
  background: #edecff;
  filter: blur(1.5rem);
  transform: rotate(-36.38deg);
  background-image: url(./images/Ellipse\ 19@2x.png);
}

.second__project::before {
  content: '';
  position: absolute;
  width: 70.28px;
  height: 100.6px;
  right: 0;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  background-image: url(./images/Ellipse\ 20@2x.png);
}

.third__project::before {
  content: '';
  position: absolute;
  width: 308px;
  height: 155px;
  left: -93px;
  background: #edecff;
  filter: blur(50px);
  background-image: url(./images/Ellipse\ 21@2x.png);
}

.fourth__project::before {
  content: '';
  position: absolute;
  width: 101.29px;
  height: 107.04px;
  right: 0;
  background: #edecff;
  filter: blur(30px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  background-image: url(./images/Ellipse\ 22@2x.png);
}

.projects__header {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.projects__languages--list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  align-items: center;
}

.projects__languages--first {
  text-align: center;
  border-right: 1px solid #555;
  padding: 1.2rem;
}

.projects-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 28px;
  color: #dcdce8;
}

.projects__languages--second {
  text-align: center;
  border-right: 1px solid #555;
  padding: 1.2rem;
  float: left;
}

.projects__languages--third {
  text-align: center;
  border-right: 1px solid #555;
  padding: 1.2rem;
  float: left;
}

.projects__languages--fourth {
  text-align: center;
  padding: 1.2rem;
  float: left;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 1rem;
}

.contact__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__text--header {
  color: #9390ff;
  font-weight: 500px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 2px;
  color: black;
}

.contact__email {
  margin: 1.5rem auto;
  font-size: 1.5rem;
  color: white;
  align-items: center;
}

.bottom-hr {
  width: 40%;
  margin: 0.7rem auto;
  border: 2px solid black;
  margin-bottom: 2px;
}

.nav__item {
  display: none;
}

.contact__link--text--left {
  display: none;
}

/* Desktop version - 768px and above */

@media (min-width: 768px) {
  .humbugger__icon {
    display: none;
  }

  .main {
    width: 100%;
    padding: 0 142px;
  }

  .nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 2rem 8.5rem;
  }

  .nav__item--container {
    display: flex;
    align-items: center;
  }

  .nav__logo--container {
    display: flex;
    align-items: center;
  }

  .nav__item {
    display: block;
    margin: 0 1rem;
    font-weight: 500;
  }

  .nav__item > a {
    transition: all 500ms ease-out;
    transition-delay: 50ms;
    color: #fff;
  }

  .nav__item > a:hover {
    background-color: white;
    border: 2px solid black;
    color: #7d73fc;
    font-size: 1.2rem;
    padding: 0 0.7rem;
  }

  .developer__info--name {
    font-size: 5rem;
  }

  .developer__info--title {
    font-size: 2;
  }

  .description__text,
  .developer__info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .about {
    width: 60%;
    height: 80vh;
    margin: 88px auto 1.5rem;
    display: flex;
  }

  .header {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    width: 100%;
    position: relative;
    margin: 1.3rem;
  }

  .about-container {
    width: 33.33%;
  }

  .work__main-header {
    color: #9490ff;
    font-weight: 500;
    font-size: 64px;
    width: 100%;
    text-transform: none;
    margin: 0;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25;
    margin: 25px 0;
  }

  .card__image {
    width: 35rem;
    height: auto;
    background: #edecff;
    margin: 0 1.5rem;
  }

  .first__card {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'first__img projects';
  }

  .second__card {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'projects second_img';
  }

  .third__card {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'third_img projects';
  }

  .fourth__card {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'projects fourth_img';
  }

  .first__img {
    grid-area: first__img;
  }

  .second_img {
    grid-area: second_img;
  }

  .third_img {
    grid-area: third_img;
  }

  .fourth_img {
    grid-area: fourth_img;
  }

  .work__header {
    margin: 1.5rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 1.5rem;
    margin: 0 1.5rem;
    grid-area: projects;
  }

  .first__project {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5.5rem 5rem 0;
    margin: 0 auto;
    width: 80%;
  }

  .contact__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
  }

  .contact__link--social {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
  }

  .contact__link--social.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .contact__email {
    width: 50%;
  }

  .description__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.3rem;
    margin: 55px 0 1.5rem;
  }

  .contact__link--text--left {
    display: block;
  }

  .contact__link--text--left .fa {
    margin-left: 1rem;
  }

  .contact__link--text {
    margin: 0;
  }
}
